codes/.phpunit.cache
codes/node_modules
codes/public/build
codes/public/hot
codes/public/storage
codes/storage/*.key
codes/vendor
codes/.env
codes/.env.backup
codes/.env.production
codes/.phpunit.result.cache
codes/Homestead.json
codes/Homestead.yaml
codes/auth.json
codes/npm-debug.log
codes/yarn-error.log
codes/.fleet
codes/.idea
codes/.vscode
.idea
docker/.env
codes/storage/logs
